body #reg{
    background-color: #030C5B !important;
    height: 684px;
    overflow-y: hidden;
    overflow: hidden;
    font-family: "Segoe UI";
}
.container-lgn{
    display: block;
   margin-top: 100px;
   margin-left: 200px;
  /* margin-left: auto;
  margin-right: auto;*/
   width: 25%; 

  
  background-color: white;
  border-radius: 10px;
  height: 520px;


  /* background-color: rgb(38,78,142); */
  /* background-color: #3194d7; */

}
.ipt{
    border: none;
    border-bottom: 1px solid #3194d7;
    width: 85%;
    padding-left: 10px;
    font-size: 20px;
    align-items: center;
    cursor: text;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .iptpassword{
    border: none;
    border-bottom: 1px solid #3194d7;
    width: 85%;
    padding-left: 10px;
    font-size: 20px;
    align-items: center;
    cursor: text;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .ipt:focus, textarea:focus, select:focus{
    outline: none;
}
.iptpassword:focus, textarea:focus, select:focus{
    outline: none;
}
h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 25px;
    font-weight: bold

}
.rgistraionbutton{
    width: 85%;
    height: 40px;
    background-color: #2699FB;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    /* font-weight: bolder; */
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif ;
}
.rgistraionbutton:hover{
color: white;
background-color: #070C5B;
}
.txt{
    margin-left: 20px;
    font-size: larger;
}

/* .logn{
    display: flex;
} */
/* .txt{
    margin-left: 20px;
    margin-top: 20px;
} */
/* button{
    width: 40%;
    border-radius: 20px;
} */
.buttonregister{
    width: 100%;
}
h5{
    margin-top: 40px;
}
.form-control {
    width: 85%;
    border-radius: 20px;
  
}
.panel-body{
    margin-left: 40px;
}
.btn-lgn{
    border-radius: 20px;
    background-color:#124d8d; 
    color: white;
    width: 100%;
}

a{
    color: white; 
}
