.heading{
    text-align: center;
    
  background-color: #F7F9FA;
}
.main-div{
    width: 100%;

  position: fixed;
  overflow-x: hidden;
  
  background-color: #F7F9FA;
  padding-left: 20px;

  border-top: 1px solid cadetblue ;
  text-align: justify;
}
.question{
    float: left;
    width: 45%;
   border-right: 1px solid cadetblue;
   height: auto;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 20px;
   overflow-y: auto;
   height: 600px;

 

}
.compiler{
    float: right;
  width: 50%;
    margin-right: 60px;
  border: 1px solid cadetblue;
    padding-top: 10px;
    
}

