body #tt{
  background-color: white;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  border: 1px solid #ddd;
  margin-left: 90px;
  
  
}
th{
  border-bottom: 1px solid #dddddd;
  font-size: larger;
  /* border-right: none; */
}

td, th {
  padding-left: 40px;
  text-align: left;
  padding: 8px;
  
  color: black;
}
td:hover {
  
 
  color: blue;
}

tr:nth-child(even) {
  background-color: #dfe6f5;
}

.questionlist{
  margin-Left:"100px";
   margin-Top:"80px";
    margin-Bottom:"40px";
    font-size:"31px"
}


