body #tt{
  background-color: white;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  border: 1px solid #ddd;
  margin-left: 160px;
  
  
}
.group-86 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 52px;
  left: 0;
  min-width: 177px;
  padding: 15.1px 12.9px;
  position: absolute;
  top: 0;
}
th{
  border-bottom: 1px solid #dddddd;
  font-size: larger;
  /* border-right: none; */
}

td, th {
  padding-left: 40px;
  text-align: left;
  padding: 8px;
  
  color: black;
}
td:hover {
  
 
  color: blue;
}

tr:nth-child(even) {
  background-color: #F2F3F4;
}

.questionlist{
  margin-Left:"100px";
   margin-Top:"80px";
    margin-Bottom:"40px";
    font-size:"31px"
}


